<h1> inside book form </h1>

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form" action = "submission">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}