h1 {
    align-self: center;
    color: rgb(243, 8, 27);
}

h1:hover {
    color: aqua;
}

li {
    border: 2px inset grey;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

a {
    color: green;
}

div {
    border: 2px;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px;
    border-radius: 10px;
}

body {}